@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272626;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: "Google Sans",sans-serif ;
}

.sobre-conteudo {
  transition: all .5s ease;
}

.sobre-conteudo:hover {
  transform: scale(1.02);
  box-shadow:
  0 0 15px rgba(168,85,247,.3),
  0 0 40px rgba(168,85,247,.2),
  0 0 80px rgba(168,85,247,.1);
  animation: purpleFlow 3s infinite;
}


@keyframes purpleFlow {
  0% {
    box-shadow:
      -20px 0 30px rgba(168,85,247,.4),
       20px 0 10px rgba(168,85,247,.1);
  }

  50% {
    box-shadow:
       20px 0 30px rgba(168,85,247,.4),
      -20px 0 10px rgba(168,85,247,.1);
  }

  100% {
    box-shadow:
      -20px 0 30px rgba(168,85,247,.4),
       20px 0 10px rgba(168,85,247,.1);
  }
}

.grid-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  width: 100vw;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
  background-size: 88px 88px;
  z-index: 50;
}